@import url("fonts/style.css");

.simple-360-player {
    width: 100%;
    position: relative;
}

.fullscreen.simple-360-player .simple-360-controls {
  z-index: 2147483647;
}

.simple-360-controls {
    color: #646464;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
}

.simple-360-control {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 100%;
    line-height: 30px;
}

.simple-360-control:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.simple-360-player .simple-360-play {
    float: left;
}

.simple-360-player .icon-pause {
    color: @primary;
}

.simple-360-pause {
    float: left;
}

.simple-360-time {
    float: left;
    width: initial;
    min-width: 56px;
    font-size: 12px;
    cursor: auto;
}

.simple-360-full {
    float: right;
}

/**
 * Progress slider and loading buffer
 */
.simple-360-progress {
  height: 100%;
  overflow: hidden;
}

.simple-360-progress input {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

